<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>LinkedOut - Dashboard</title>
</head>
<body>

  <!-- Navigation Bar -->
  <nav>
    <b>LinkedOut</b>
    <ol>
      <li><a href="{{ url_for('post', uid=user['id']) }}">Explore</a></li>
      <li><a href="{{ url_for('home') }}">Logout</a></li>

    </ol>

  </nav>
  <hr>
    <h1>Welcome, {{ user['fname'] }} {{ user['lname'] }}!</h1>
      <p><strong>Username:</strong> {{ user['username'] }}</p>
      <p><strong>Email:</strong> {{ user['email'] }}</p>
      <p><strong>Account Role:</strong> {{ user['role'] }}</p>
  <hr>

  <!-- Write a Post Section -->
  <section>
    <h3>Create a Post</h3>
    <form method="POST" action="/dashboard">
      <textarea name="content" rows="3" cols="60" placeholder="Share something..."></textarea>
      <br><br>
      <button type="submit">Post</button>
    </form>
  </section>

  <hr>

  <!-- Posts Feed Section -->
  <section>
    <h3>Recent Posts</h3>

    <!-- Loop through every post in the database  -->
    {% for post in posts %}
    <article>
      <b>{{ post.fname }}</b> &nbsp;
      <small>{{ post.timestamp[:16] }}</small>
      <p>{{ post.content }}</p>
      <hr>
    </article>
    {% endfor %}

  </section>

</body>
</html>