<head>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>


<body>

<nav class="nav">


  <div class="nav-list">
    <a href="{{ url_for('post', uid=user['id']) }}">Explore</a>
    <a href="{{ url_for('home') }}">Logout</a>
  </div>
</nav>

<div class="container">

  <div class="profile-card">
    <h2>Welcome, {{ user['fname'] }} {{ user['lname'] }}!</h2>
    <p><strong>Username:</strong> {{ user['username'] }}</p>
    <p><strong>Email:</strong> {{ user['email'] }}</p>
    <p><strong>Role:</strong> {{ user['role'] }}</p>
  </div>


  </div>

</div>

</body>