<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>

  <!-- Flask CSS link -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<div class="center">
<form method="post">

  <h2>Register</h2>
  {% if error %}
    <p style="color: red; font-weight: bold;">{{ error }}</p>
{% endif %}
  <!--<select name="role" required>
    <option value="">Select role</option>
    <option value="user">User</option>
    <option value="admin">Admin</option>
  </select>-->

  <input type="text" name="firstname" placeholder="First Name" required>
  <input type="text" name="lastname" placeholder="Last Name" required>
  <input type="email" name="email" placeholder="Email" required>
  <input type="text" name="username" placeholder="Username" required>
  <input type="password" name="password" placeholder="Password" required minlength="6">
  <input type="password" name="confirmPassword" placeholder="Confirm Password" required>

  <button type="submit">Register</button>

  <p><a href="{{ url_for('login') }}">Go to Login</a></p>

</form>
</div>
  <script>
    const password = document.querySelector('input[name="password"]');
    const confirm = document.querySelector('input[name="confirmPassword"]');

    function validatePassword() {
        if (password.value !== confirm.value) {
            confirm.setCustomValidity("Passwords do not match");
        } else {
            confirm.setCustomValidity(""); // Clear the error
        }
    }

    password.onchange = validatePassword;
    confirm.onkeyup = validatePassword;
</script>
</body>
</html>